@import '~bulma/bulma.sass';

.bubble-image {
  display: block;
  margin-inline: auto;
  max-width: 150px;
  margin-top: 50px;
}

.image-container {
  margin-inline: auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  img {
    width: 100%;
  }
}

.title {
  color: #ddd;
}

.masonry-container {
  width: 90%;
  max-width: 900px;
  margin-inline: auto;
}

.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-home {
  align-items: flex-start;
}

.video-container {
  max-width: 600px;
  margin-inline: auto;

  video {
    margin-bottom: 2em;
  }
}

.card {
  color: #ddd;
  box-shadow: none;
}

.card-content {
  margin-bottom: 3em;
}

body {
  min-height: 100vh;
  background-color: #363636;
}

.quote {
  font-size: 1.2rem;
  margin-bottom: 1em;
}
